{% extends 'base.html.twig' %} {% block body %}
<div>
  <h1>Welcome to My movie List</h1>

  <div class="d-flex">
  {% for movie in trend_movies %}
  {% include 'partials/movie_card.html.twig' with {movie: movie} only %}
  {% endfor %}
  </div> 
  
  
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, rem eligendi
    commodi ullam quas officiis porro, perspiciatis sequi voluptatem, nihil qui.
    Cumque, dolorem suscipit aspernatur officia quasi est nam at placeat quod
    quisquam necessitatibus, fugit adipisci deserunt blanditiis. Consequatur,
    numquam!
  </p>
  <p>
    Facere sapiente nobis repellat, animi asperiores minima officia dicta
    necessitatibus. Deserunt perspiciatis fugiat vitae assumenda amet, atque
    consequuntur sunt excepturi quas hic quasi aperiam ut aut totam fuga ipsam
    dolorem ab quibusdam quos animi provident illum ratione explicabo! Illum,
    voluptas.
  </p>
</div>
{% endblock %}
