<div class="movie-card">
    <div class="image">
    	<img src="{{ movie.image }}" alt=""/>
    </div>
    {% if movie.title is defined %}
    	{{movie.title}}
    {% elseif movie.name is defined %}
        {{movie.name}}
    {% endif %}
</div>
