{% extends 'base.html.twig' %}
{% block body %}
	<h1>My Lists</h1>
	{% for list in lists %}
		<div class="list">
			<a href=" {{ path('showlist', {'id': list.id})}} ">{{ list.name }}</a>
			{# <button href=" {{ path('modifylist', {'id': list.id})}} "> EDIT</button> #}
			<button href="#">
				EDIT</button>

		</div>
	{% endfor %}
{% endblock %}
